body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 15px;
}

.product .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb {
    font-weight: bold;
    color: black;
}

.btn-dark {
    border-radius: 10px;
}

.pilih-klub img {
    max-height: 100px;
}

.pilih-klub .card {
    border-radius: 15px;
}

.gambar-product {
    background-color: #F1F1F1F1;
    border-width: 0;
    border-radius: 20px;
}
